In [1]:
import pandas as pd
import numpy as np
import json
df= pd.read_csv('twitter-archive-enhanced.csv')

In [5]:
df.dtypes

tweet_id                      float64
in_reply_to_status_id         float64
in_reply_to_user_id           float64
timestamp                      object
source                         object
text                           object
retweeted_status_id           float64
retweeted_status_user_id      float64
retweeted_status_timestamp     object
expanded_urls                  object
rating_numerator                int64
rating_denominator              int64
name                           object
doggo                          object
floofer                        object
pupper                         object
puppo                          object
dtype: object

In [20]:
df.retweeted_status_timestamp.sample(10)

158                           NaN
514                           NaN
58                            NaN
686     2016-08-04 01:03:17 +0000
1461                          NaN
1398                          NaN
956                           NaN
2004                          NaN
454                           NaN
1794                          NaN
Name: retweeted_status_timestamp, dtype: object

In [23]:
df.retweeted_status_timestamp.value_counts().value_counts()

1    181
Name: retweeted_status_timestamp, dtype: int64

In [28]:
tweet_id = []
with open('tweet_json.txt', mode='r') as f:
    for tweet_data in f:
        
        json_obj = json.loads(tweet_data)
        #print(type(json_obj))
        #print(type(json_obj['entities']))
        #print(type(json_obj['entities']['media']))
        #print(type(json_obj['entities']['media'][0]))
        #print(type(json_obj['entities']['media'][0].keys())
        #print(json['entities'])
        tweet_id.append(json_obj['id'])

In [32]:
tweet_id = pd.Series(tweet_id)

In [35]:
tweet_id.shape

(1993,)

In [3]:
names = []
with open('tweet_json.txt', mode='r') as f:
    for tweet_data in f:
    
        json_obj = json.loads(tweet_data)
        names.append(json_obj['name'])

KeyError: 'name'

In [43]:
fav_count

[38674,
 33136,
 24948,
 42054,
 40214,
 20164,
 11814,
 65321,
 27707,
 31851,
 30579,
 27716,
 47983,
 27102,
 15047,
 25227,
 28997,
 25519,
 19848,
 68924,
 21696,
 30103,
 46114,
 33583,
 30451,
 35057,
 12036,
 22358,
 21145,
 27902,
 32601,
 35896,
 71743,
 21895,
 77282,
 27852,
 24231,
 26913,
 20333,
 21843,
 45846,
 22512,
 37125,
 23895,
 28246,
 27830,
 44878,
 29278,
 24234,
 50446,
 49335,
 23018,
 16970,
 21245,
 28452,
 27008,
 27560,
 22253,
 23352,
 105659,
 16738,
 41970,
 22542,
 18921,
 19366,
 7742,
 21575,
 79710,
 22702,
 27316,
 27084,
 20630,
 18735,
 27873,
 25166,
 21893,
 25455,
 27821,
 53364,
 26058,
 22648,
 34672,
 66251,
 24246,
 7253,
 27406,
 14731,
 20815,
 40759,
 34300,
 34524,
 38164,
 20316,
 20280,
 24317,
 22745,
 33798,
 12487,
 83141,
 21941,
 36911,
 92132,
 42698,
 28455,
 16104,
 20613,
 10265,
 27482,
 24415,
 34375,
 16337,
 32656,
 124003,
 19590,
 36425,
 25981,
 26880,
 28449,
 32845,
 14860,
 30685,
 20971,
 15557,
 8694,
 24240,
 8930,
 19554,
 17421,
 20953,
 76116,
 81854,
 36828,
 17561,
 17094,
 7670,
 24145,
 18727,
 17068,
 53451,
 19990,
 15767,
 19031,
 34736,
 29260,
 15929,
 22078,
 16144,
 16541,
 35198,
 6090,
 20564,
 19461,
 40955,
 16752,
 12169,
 28518,
 46836,
 30933,
 25952,
 23630,
 30372,
 19581,
 33135,
 16784,
 29708,
 36270,
 16143,
 7695,
 9414,
 15548,
 17068,
 34565,
 20868,
 11948,
 37194,
 16923,
 25368,
 21606,
 32495,
 13668,
 17106,
 21440,
 31937,
 21610,
 16650,
 11992,
 44556,
 26479,
 26021,
 17181,
 18362,
 24718,
 5772,
 19734,
 21513,
 21044,
 22564,
 21163,
 47155,
 33493,
 16871,
 30942,
 26520,
 45880,
 8051,
 24649,
 25155,
 14421,
 15989,
 17414,
 14411,
 22643,
 17878,
 22752,
 122621,
 16117,
 7148,
 19170,
 14855,
 37154,
 27191,
 13413,
 16851,
 9538,
 48848,
 13075,
 17491,
 20478,
 14270,
 28926,
 11895,
 32742,
 11605,
 24085,
 34145,
 18774,
 4090,
 13648,
 22524,
 17077,
 13575,
 20504,
 13445,
 56201,
 15709,
 22666,
 20387,
 28965,
 18989,
 8288,
 17493,
 27899,
 23985,
 11579,
 22547,
 14639,
 34052,
 10273,
 22027,
 16832,
 13947,
 14334,
 16390,
 22087,
 15901,
 14241,
 17995,
 16976,
 12791,
 12097,
 19822,
 26867,
 34035,
 19134,
 25706,
 29634,
 11187,
 9661,
 9830,
 6977,
 12551,
 12773,
 8548,
 21686,
 10532,
 23235,
 13135,
 11230,
 26326,
 56877,
 15966,
 27446,
 39313,
 10214,
 6746,
 8201,
 13552,
 7933,
 13455,
 12637,
 11124,
 21654,
 16608,
 7970,
 17087,
 38088,
 11373,
 39274,
 16845,
 10834,
 19818,
 14271,
 5244,
 16872,
 11265,
 13708,
 56046,
 19704,
 6851,
 17703,
 16133,
 10846,
 12681,
 16199,
 11495,
 13552,
 14054,
 16983,
 37865,
 18676,
 142940,
 14248,
 19589,
 15943,
 30862,
 16704,
 12280,
 13140,
 9109,
 8653,
 18128,
 12732,
 9437,
 10385,
 13659,
 25008,
 13197,
 3603,
 16675,
 21403,
 5757,
 13921,
 14556,
 10348,
 7814,
 93423,
 48809,
 24030,
 10675,
 23895,
 11827,
 33137,
 11936,
 13311,
 11580,
 12779,
 9986,
 6092,
 24382,
 9451,
 13162,
 9277,
 18112,
 10820,
 10624,
 9333,
 9679,
 5417,
 15883,
 14326,
 10678,
 8921,
 11213,
 8288,
 12238,
 17916,
 9407,
 31190,
 13699,
 10083,
 39459,
 9063,
 20305,
 9966,
 21558,
 10142,
 8413,
 9133,
 12889,
 11221,
 11426,
 10727,
 8635,
 22758,
 8223,
 17775,
 7198,
 6607,
 8694,
 14875,
 7897,
 8209,
 13929,
 22730,
 5799,
 9838,
 11922,
 38605,
 18376,
 7532,
 14367,
 10986,
 8596,
 12279,
 26715,
 9486,
 13675,
 15871,
 26263,
 14173,
 22567,
 11115,
 31816,
 6982,
 18768,
 9000,
 7159,
 6239,
 9544,
 8471,
 14951,
 11048,
 48570,
 10950,
 20670,
 11973,
 8441,
 17330,
 10926,
 9822,
 12183,
 9743,
 17711,
 6920,
 16074,
 9874,
 8421,
 8928,
 6605,
 15018,
 8797,
 11437,
 14322,
 10295,
 12743,
 12149,
 13637,
 30947,
 16853,
 9163,
 8768,
 23590,
 10812,
 8818,
 14353,
 8090,
 19368,
 20113,
 19768,
 13061,
 8125,
 13428,
 17973,
 8756,
 6933,
 6954,
 14683,
 14345,
 13006,
 11311,
 12708,
 15828,
 21813,
 21488,
 8363,
 12941,
 23534,
 8269,
 12021,
 35315,
 9914,
 9217,
 11779,
 54357,
 11025,
 12836,
 11212,
 29925,
 10428,
 10043,
 10042,
 12819,
 8698,
 11672,
 9420,
 21786,
 11491,
 10730,
 9745,
 16668,
 7544,
 10251,
 6734,
 7041,
 13843,
 15654,
 12340,
 8015,
 14723,
 7836,
 9589,
 13637,
 10797,
 10102,
 8940,
 22556,
 8533,
 13170,
 11192,
 8210,
 7388,
 14223,
 9943,
 10592,
 29859,
 16995,
 7889,
 6710,
 12171,
 6698,
 9464,
 11132,
 11811,
 8503,
 9181,
 11635,
 10252,
 11890,
 20686,
 12386,
 7283,
 8515,
 9929,
 7909,
 13178,
 9771,
 6197,
 8011,
 11362,
 9211,
 18383,
 15373,
 8849,
 8120,
 8471,
 18062,
 12070,
 11366,
 9176,
 10623,
 7816,
 5993,
 6842,
 10517,
 5741,
 9465,
 8197,
 9591,
 33833,
 12832,
 21769,
 7492,
 6267,
 5050,
 14799,
 28193,
 6348,
 11266,
 9191,
 7126,
 11798,
 6897,
 14172,
 9509,
 15531,
 38601,
 5296,
 9621,
 24409,
 32552,
 10410,
 1989,
 45273,
 12712,
 14007,
 8063,
 37021,
 9241,
 7278,
 11645,
 6926,
 7142,
 5767,
 11406,
 10168,
 10817,
 9303,
 8644,
 12554,
 7009,
 6508,
 4084,
 4053,
 2930,
 4338,
 8946,
 14010,
 9954,
 6726,
 7439,
 5369,
 5615,
 73103,
 7929,
 6796,
 6748,
 10067,
 8189,
 6919,
 5837,
 15599,
 8045,
 4541,
 4456,
 5437,
 21289,
 14715,
 5134,
 8079,
 13279,
 10926,
 15849,
 5491,
 4357,
 6506,
 7324,
 7494,
 4623,
 4036,
 7811,
 5602,
 28458,
 7645,
 6927,
 6539,
 5851,
 7792,
 7947,
 12192,
 5210,
 34529,
 5834,
 10142,
 4596,
 4453,
 34918,
 5626,
 4823,
 5748,
 4119,
 7123,
 5348,
 8184,
 28892,
 4241,
 6153,
 7247,
 6432,
 42444,
 5074,
 6540,
 3988,
 15671,
 7030,
 3827,
 12044,
 6167,
 4117,
 5173,
 5602,
 3695,
 2927,
 7423,
 18190,
 4883,
 4900,
 4685,
 16348,
 6290,
 4869,
 6748,
 7159,
 5468,
 11219,
 4258,
 6937,
 7904,
 17733,
 22853,
 22880,
 7401,
 2773,
 5700,
 4038,
 8435,
 6303,
 8523,
 6226,
 15285,
 3672,
 4190,
 7403,
 6464,
 4747,
 7932,
 4109,
 34321,
 6406,
 5616,
 6244,
 8499,
 4745,
 5419,
 3443,
 13453,
 6782,
 5469,
 5155,
 4796,
 4877,
 3327,
 3903,
 4635,
 3268,
 2334,
 8435,
 3363,
 3415,
 2914,
 3483,
 3247,
 5498,
 4993,
 6552,
 2818,
 9249,
 5897,
 5146,
 3324,
 11534,
 6280,
 2970,
 5086,
 4545,
 6516,
 2336,
 5603,
 3979,
 3938,
 6229,
 7110,
 3164,
 3010,
 5208,
 2489,
 3950,
 5958,
 4145,
 7080,
 5661,
 3625,
 10281,
 3089,
 6415,
 5670,
 5207,
 6473,
 3088,
 4963,
 6611,
 7378,
 3793,
 4326,
 7468,
 7603,
 9182,
 7668,
 7735,
 3192,
 8413,
 5986,
 7226,
 127832,
 4430,
 3899,
 4714,
 4790,
 19722,
 3763,
 8445,
 4517,
 6616,
 4095,
 4745,
 7746,
 7257,
 4634,
 5497,
 4861,
 8727,
 3916,
 9369,
 6841,
 3640,
 3025,
 2647,
 3518,
 7144,
 4327,
 4039,
 5740,
 7693,
 4019,
 3564,
 5431,
 3495,
 4607,
 9379,
 2702,
 5621,
 10650,
 5384,
 11005,
 3848,
 15659,
 4610,
 4263,
 8674,
 8437,
 3836,
 4285,
 6601,
 13858,
 3579,
 3337,
 2916,
 13380,
 2666,
 3829,
 3913,
 3351,
 4478,
 2597,
 3759,
 3928,
 8598,
 3714,
 4086,
 6520,
 5245,
 3693,
 4075,
 5198,
 4285,
 1812,
 4246,
 6181,
 2005,
 3373,
 2971,
 3533,
 5243,
 3912,
 4581,
 4826,
 4359,
 3123,
 6270,
 4761,
 3526,
 3231,
 4113,
 7320,
 4081,
 3776,
 4695,
 4425,
 5513,
 3938,
 2514,
 5637,
 4605,
 2831,
 4449,
 4128,
 8195,
 3219,
 5636,
 4369,
 5262,
 4956,
 2681,
 3310,
 2634,
 4380,
 6814,
 3051,
 4139,
 5205,
 5136,
 4854,
 5372,
 2967,
 4688,
 3625,
 3704,
 5560,
 2600,
 2643,
 2876,
 5185,
 2048,
 4113,
 2604,
 3080,
 6123,
 3352,
 6647,
 3477,
 4530,
 5870,
 2507,
 2953,
 5189,
 3392,
 4961,
 4152,
 4592,
 5812,
 3214,
 2565,
 5443,
 4431,
 3992,
 4396,
 3475,
 3839,
 3193,
 3472,
 2409,
 4567,
 3475,
 2998,
 5184,
 4690,
 7647,
 4745,
 13142,
 4424,
 5654,
 4033,
 3125,
 3438,
 2407,
 8556,
 3016,
 9469,
 4116,
 3884,
 3519,
 ...]

In [51]:
fav_count = pd.Series(fav_count)
fav_count.shape

(1993,)

In [49]:
retweet_count = []
with open('tweet_json.txt', mode='r') as f:
    for tweet_data in f:
        
        json_obj = json.loads(tweet_data)
        retweet_count.append(json_obj['retweet_count'])

In [52]:
retweet_count = pd.Series(retweet_count)
retweet_count.shape

(1993,)

In [54]:
tweet_id.shape

(1993,)

In [56]:
df = [tweet_id, retweet_count, fav_count]

In [58]:
df = pd.concat(df, axis=1)

In [60]:
type(df)

pandas.core.frame.DataFrame

In [61]:
df.names=['tweet_id', 'retweet_count', 'fav_count']

C:\Users\srijon sarkar\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  if __name__ == '__main__':

In [66]:
df.columns=['tweet_id', 'retweet_count', 'fav_count']

In [64]:
df.shape

(1993, 3)

In [67]:
df.head()

             tweet_id  retweet_count  fav_count
0  892420643555336193           8555      38674
1  892177421306343426           6288      33136
2  891815181378084864           4171      24948
3  891689557279858688           8676      42054
4  891327558926688256           9444      40214

In [25]:
df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [29]:
df.sample(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2045,6.715290e+17,NaN,NaN,2015-12-01 03:18:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He's in the middle of a serious conv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671528761...,10,10,Jax,None,None,None,None
489,8.139100e+17,NaN,NaN,2016-12-28 00:52:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Chubbs. He dug a hole and now he's stu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/813910438...,11,10,Chubbs,doggo,None,None,None
518,8.106580e+17,NaN,NaN,2016-12-19 01:26:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pavlov. His floatation device has fail...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/810657578...,11,10,Pavlov,None,None,None,None

In [31]:
df.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [32]:
df.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [37]:
t = df.text.sample(5)
for l in t:
    print(l)

RT @dog_rates: This is Nollie. She's waving at you. If you don't wave back you're a monster. She's also portable as hell. 12/10 https://t.c…
This is Tebow. He kindly requests that you put down the coffee and play with him. 13/10 such a good boy https://t.co/56uBP28eqw
This is Link. He struggles with couches. 10/10 would assist https://t.co/SbX4e6Yg3o
This is Longfellow (prolly sophisticated). He's a North Appalachian Oatzenjammer. Concerned about wrinkled feets. 12/10 would hug softly https://t.co/bpLuQuxzHZ
Meet Al Cabone. He's a gangsta puppa. Rather h*ckin ruthless. Shows no mercy sometimes. 11/10 pet w extreme caution https://t.co/OUwWbEKOUV